
<div class="container-fluid">

  <div class="row">

    <div class="col-md-6 offset-md-3">

      <form class=" m-5 p-4 border rounded  shadow">
        <h2 class="text-center mb-4 mt-3">
         <div class="text-center">
                    <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                </div>
                <div class="text-center">
                  <h2>Forgot Password</h2>
              </div>
              <p style="color: lightslategray; font-size: 20px;">Please enter your registered email where<br> we will send you the reset password link</p>
              <form action="" method="">
                  <div class="form-group my-3">
                      <input type="email" id="email" placeholder="Email Address" class="form-control" name="resetEmail" />
                  </div>
                  <input  type="submit" class="btn btn-primary w-100" value="Reset Password Link" name="resetEmail">
              </form>

          <div class="card-footer text-right " style="font-size: 20px; margin-top: 5px;">
              <small>Ohh I remember.. <a style="text-decoration: none;" routerLink="/logt">Back to Login</a></small>
          </div>



