<!-- first photo -->

<div class="pic mb-5">
  <img class="" src="../../assets/image/background.jpg" alt=""
    style="width: 100%;
    height: auto;">

<header>
  <h1>Tennis Sport club</h1>
</header>
<div class="content">
  <h1>Welcome to the Wonderful World of Tennis!</h1>
  <p>

    Tennis is a thrilling and dynamic sport enjoyed by people of all ages and skill levels. Whether you're a seasoned player or just starting out, there's something for everyone on the tennis court.</p>
</div>
<div class="mid">
</div>
<div class="content">
  <h1>brief about us </h1>
  <p>The tennis club has been in operation since May 2015. We have many stadiums and a
    team that has many international certificates to ensure the best quality of training for our valued customers.</p>
</div>

<footer></footer>

  <!-- first Text  -->



  <section id="block_content">
    <div class="col-md-6 container">
      <blockquote class="blockstyle">
        <span class="triangle"></span>The benefits of playing tennis: Tennis is a great way to get exercise, improve your coordination, and relieve stress. It can also help you to build social connections and make new friends.
      </blockquote>
    </div>
  </section>
  <section id="block_content">
    <div class="col-md-6 container">
      <blockquote class="blockstyle">
        <span class="triangle"></span>The different types of tennis courts: There are three main types of tennis courts: hard courts, clay courts, and grass courts. Each type of court has its own unique playing characteristics.</blockquote>
    </div>
  </section>
  <section id="block_content">
    <div class="col-md-6 container">
      <blockquote class="blockstyle">
        <span class="triangle"></span>The different types of tennis balls: Tennis balls are available in pressureless and pressurized versions. Pressureless balls are softer and slower, while pressurized balls are harder and faster.
        The different types of tennis racquets: Tennis racquets come in a variety of sizes, shapes, and weights. It's important to choose a racquet that is the right size and weight for you.
        </blockquote>
    </div>
  </section>
  <div class="container-fluid">
    <div class="row">
      <div class=" col-sm-6 col-md-4 col-lg-4 mb-3 mt-5 mb-sm-0">
        <div class="card" style="width: 18rem; text-align: center;">
          <img
          src="../../assets/image/tennis.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-header">Tennis training</h5>
            <p class="card-text">We have training at the highest level with dedicated trainers to ensure the quality
              of training for our valued clients.<br><br>
              To learn more click on the button.</p>
            <div class="card-footer"><a href="/regt" class="text-dark btn btn-outline-success btn-sm">check out </a>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-sm-6 col-md-4 col-lg-4  mt-5 mb-sm-0">
        <div class="card" style="width: 18rem; text-align: center;">
          <img src="../../assets/image/coach.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-header">Coaches</h5>
            <p class="card-text">We have coaches at the highest level and they have many international certificates in
              tennis. You can choose the trainers they want. To choose trainers, click on the button.</p>
            <div class="card-footer"><a href="/coaches" class="text-dark btn btn-outline-success btn-sm">check out</a>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-sm-6 col-md-4 col-lg-4  mt-5 mb-sm-0">
        <div class="card" style="width: 18rem; text-align: center;">
          <img src="../../assets/image/courts.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-header">Courts</h5>
            <p class="card-text">We have many branches throughout Egypt and governorates such as Cairo, Alexandria,
              Giza, Sohag, and others. To know the branch addresses, click on the button.</p>
            <div class="card-footer"><a href="/courts" class=" text-dark btn btn-outline-success btn-sm">check out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
