.menu {
  position: fixed;
  top: 0;
  width: 100%;

  color: #fff; /* Add your desired text color */
  z-index: 1000; /* Ensure it's above other content */
}

#searchInput {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}
